@import 'normalize';
$font-family: 'Courier New', Courier, monospace;

.title {
    color: #ff7729;
    font-weight: bold;
    display:flex;
    justify-content:center;
    align-items:center;
       
       border: {
        left: 10px solid black;
        right: 5px solid red;
       }
           

       @media screen and (max-width: 960px){
           background-color:#ddd;
       }

       span {
           text-transform: capitalize;
           text-decoration: underline;
           color: #8b3e11;
           &:hover {
               color:red;
           }
       }
       .info > & {
           font-family: $font-family
       }

}